[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchtext = "*"
pandas = "*"
tqdm = "*"
boto3 = "*"
requests = "*"
regex = "*"
sentencepiece = "*"
sacremoses = "*"
packaging = "*"
fastbpe = "*"
subword-nmt = "*"
importlib-metadata = "*"
wget = "*"
seaborn = "*"
matplotlib = "*"
sklearn = "*"
ipykernel = "*"
transformers = "*"
simpletransformers = "*"
datasets = "*"
nltk = "*"
torch-tb-profiler = "*"
networkx = "*"
pydot = "*"
hmmlearn = "*"
pymc3 = "*"
missingno = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3.8"
